@using Microsoft.AspNetCore.Identity

@inject SignInManager<Social_Network.Data.social_network.User> SignInManager
@inject UserManager<Social_Network.Data.social_network.User> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}

<div class="callback-bt" style="text-align: center;">
  
    <div class="Helps">
        <a>Click on your account icon to go to the page</a>
    </div>

    <div class="pulse">
        <a  asp-controller="MainHome" asp-action="MainHome"> <img src="@user.AvatarURL" class="ImgAvatar" /></a>
    </div>

    <div class="HelpsName">
        <a>User name: @user.UserName</a>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark" style="position: fixed; left: 48%; margin-top: 18px;">
                <img src="/storage//icon/exit-icon.png" style="height: 15px;" title="Exit" />
            </button>
        </form>
    </div>
</div>

<style>

    .Helps{
        background-color: rgb(225, 225, 225, 0.73);
        border-radius: 5px;
        position: fixed;
        left: 25%;
        top: 16%;
        height: 60px;
        width: 50%;
        padding-top: 16px;
    }

    .HelpsName {
        background-color: rgba(225, 225, 225, 0.65);
        border-radius: 12px;
        position: fixed;
        left: 34.4%;
        top: 78%;
        height: 70px;
        width: 30%;
        padding-top: 16px;
    }

    .ImgAvatar {
        height: 160px;
        width: 160px;
        border-radius: 90px;
        margin-top: -15px;
        margin-left: -13px;
    }

    .pulse {
        position: fixed;
        left: 45%;
        top: 42%;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0, 0);
        cursor: pointer;
        box-shadow: 0 0 0 rgba(204,169,44, 0.8);
        animation: pulse 1.25s infinite;
    }

	@@-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(225, 225, 225, 0);
        }

        50% {
            -webkit-box-shadow: 0 0 0 30px rgba(225, 225, 225, 0.35);
        }

        100% {
            -webkit-box-shadow: 0 0 0 75px rgba(225, 225, 225, 0.2);
        }
	}

	@@keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.05);
            box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.05);
        }

        50% {
            -moz-box-shadow: 0 0 0 30px rgba(225, 225, 225, 0.45);
            box-shadow: 0 0 0 30px rgba(225, 225, 225, 0.35);
        }

        100% {
            -moz-box-shadow: 0 0 0 80px rgba(225, 225, 225, 0.2);
            box-shadow: 0 0 0 80px rgba(225, 225, 225, 0.2);
        }
	}
</style>

