<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background: url(/storage/imgFone/FoneOsnove.png); background-position: center center; ">
    <header style="background: linear-gradient(to top left, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4)); position: fixed; left: 0; top: 0; width: 100vw; height: 67px; margin-bottom: 4rem; text-align: center; ">
        <nav>
            <div class="container" style="padding-bottom: 15px; text-align: center;">
                <img src="/storage/img/logo.png" style="height: 65px; margin-bottom: 15px" />
                <a  asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 32px; color: Sienna; font-weight: bold; font-family: Trattatello, fantasy; text-decoration: none;">Mole Hole</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        --
                        background: linear-gradient(to top left, AntiqueWhite, NavajoWhite)
                        --
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    

                    </div>
                -->
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
            <partial name="_LoginPartial" />
        </main>
    </div>

    <footer class="border-top footer text-muted" style="height: 67px; background: linear-gradient(to top left, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4));; position: fixed;">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


